*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputContainer{
    text-align: center;
    margin: 200px 0 0 0;

}
.inputContainer h2{
    margin: 0 0 25px 0;
    color: #0b7168;
}
.inputContainer input{
      width: 100%;
      height: 38px;
      margin-bottom: 15px;
      border: 1px solid #dcdde1;
      border-radius: 5px;
      padding: 0 15px;
      outline: none;
      font-size: 15px;
}

.inputContainer input:focus{
    border-color: aquamarine;
}
.button button{
      border: none;
      background: lightseagreen;
      color: white;
      padding: 12px 22px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.4s;
      margin: 15px 0 0 0;
}

.button button:hover{
      background-color: #109d91;
    }